@page "{id:long}"
@model RandomQuotesMachine2.Pages.QuoteModel
@{
    ViewData["Title"] = "Quote";
}


@section AdditionalMeta
    {
    
    <meta property="og:url" content="https://@HttpContext.Request.Host@HttpContext.Request.Path" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Quote.Qoute" />
    <meta property="og:description" content="@Model.Quote.Author" />
    <meta property="og:image" content="https://@HttpContext.Request.Host/images/@Model.Quote.Id-q.png" />
}

<div class="wrapper">
    <div class="content">
        <div class="text-center">
            <h2>@Model.Quote.Qoute</h2>

            <p>@Model.Quote.Author</p>


        </div>

    </div>
    <div class="top-space button-bar">
        <div class="text-left button-bar-right">
            <a asp-page="./Quote" asp-route-id="@Model.RandomQuote.Id" class="btn btn-primary">New Random Quote</a>
        </div>

        <div class="text-right button-bar-left">
            <a href="http://twitter.com/share?text=@Model.Quote.Qoute - @Model.Quote.Author" class="btn btn-default" target="_blank">Twitter</a>
            <a href="http://www.facebook.com/sharer.php?u=https://@HttpContext.Request.Host@HttpContext.Request.Path" target="_blank" class="btn btn-default">Facebook</a>
            <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true" target="_blank" class="btn btn-default">Pinterest</a>
        </div>

    </div>

</div>

